@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Noto+Sans+JP:wght@100..900&family=Pixelify+Sans:wght@400..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


.font-roboto{
  font-family: "Roboto Mono", monospace;
  font-style: normal;
}

.font-noto-sans-jp {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
}

.font-jersey {
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.font-pixel {
  font-family: "Pixelify Sans", sans-serif;
  font-style: normal;
}

body {
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/089d21ad-7782-4104-89c2-a65435feaa61/d99amhi-7bdd97ff-1540-4882-9f06-4d845e750b1e.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzA4OWQyMWFkLTc3ODItNDEwNC04OWMyLWE2NTQzNWZlYWE2MVwvZDk5YW1oaS03YmRkOTdmZi0xNTQwLTQ4ODItOWYwNi00ZDg0NWU3NTBiMWUuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.vHmbGUBcVtAAhF8JzETh1iq_HoBH9GAQe3G202atTso');
    background-size: cover;
}